@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-familly: "Nunito", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-familly);
  color: #222;
}

section.super-info,
section.menu,
section.intro,
section.sobre {
  display: flex;
  justify-content: center;
  width: 100%;
}

section.super-info {
  background-color: #122ab2;
}

.max-width {
  width: 960px;
}

ul.super-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
}

ul.super-info {
  list-style-type: none;
}

a.super-info {
  display: block;
  text-decoration: none;
  margin: 0 10px 10px 10px;
  color: #fff;
  font-family: var(--font-familly);
}

section.menu {
  width: 100%;
  background-color: #2c70ff;
}
nav.menu {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

ul.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 100%;
  justify-content: end;
}

a.logo {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
  padding: 0;
  align-self: flex-start;
  color: #fff;
  text-decoration: none;
}

a.menu {
  color: #fff;
  font-size: 1.25rem;
  padding: 10px;
  text-decoration: none;
}

/* intro */

h1.intro {
  font-size: 3rem;
  line-height: 1;
  padding: 60px 10px;
  margin: 0 auto;
  border-bottom: 2px solid #122ab2;
}

/* sobre content */

div.sobre-content {
  display: flex;
}

div.sobre-text {
  margin: 0 10px;
}

h2.sobre {
  margin-bottom: 24px;
  font-size: 3rem;
}
p.sobre {
  margin-bottom: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}
